Repository vfile/vfile, pull requests merged in 2019-11, with the labels that each got.

#41 Fix type error
  types/vfile-tests.ts
Labels: ☂️ area/types, 🐛 type/bug, 👶 semver/patch, 🕸️ area/tests, 🙆 status/confirmed

#40 Add GitHub CI
  .github/issue_template.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
Labels: 👶 semver/patch, 🔍 status/open, 🕸️ area/tests

#42 test: cleanup type tests
  package.json
  readme.md
  types/tsconfig.json
  types/tslint.json
Labels: ☂️ area/types, 🏗 area/tools, 👶 semver/patch, 📦 area/deps, 🕸️ area/tests, 🙆 status/confirmed, 🦋 type/enhancement
